*~
.*
*.bak
*.o
*.swp
*.tar.gz
*.tmp

!.gitignore
!.perltidyrc
!.travis.yml

/constants.h
/constants.xs
/DB_File.c
/DB_File.bs
/TestAll
/MYMETA.*
/Makefile
/Makefile.old
/archive
/blib
/bugs
/libraries
/pm_to_blib
/releases
/scratch
